.checkout-cart > a {
  color: #fff;
  text-decoration: none;
}

.media-body .form-control {
  height: 22px !important;
}

.media-body .btn {
  padding: 0 8px !important;
}

.media-body .quantity {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10px;
  text-align: center;
  border-radius: 0;
  width: 25px !important;
}

.checkout-cart-detail {
  background-color: #ffffff;
}

.checkout-cart-detail button {
  margin-bottom: 10px;
}

.checkout-cart-detail .item {
  padding: 0 0 10px 10px;
}

.checkout-cart-total {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  padding-top: 10px;
  margin-bottom: 10px;
}

.checkout-cart-total b {
  color: red;
}

.shipping-box {
  margin-bottom: 20px;
}
