.checkout-cart > a {
  color: #fff;
  text-decoration: none;
}

.media-body .form-control {
  height: 22px !important;
}

.media-body .btn {
  padding: 0 8px !important;
}

.media-body .quantity {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10px;
  text-align: center;
  border-radius: 0;
  width: 25px !important;
}
